
body {
    font-family: 'Arial', sans-serif;
    background-color: #505051;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .calculator {
    background-color: #f8f8f8;
    border-radius: 20px;
    box-shadow: 0px 20px 20px rgba(74, 9, 9, 0.1);
    padding: 20px;
    width: 300px;
    height: 430px;
  }

  .input {
    background-color:#7f7f80;
    padding: 20px;
    border-radius: 10px;
    margin-bottom:20px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 22px;
    color: white;
  }

  .Buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

 
  }

  button {
    padding: 20px;
    border-radius: 100%;
    border: none;
    background-color: #424242;
    font-size: 18px;
    cursor: pointer;
    color: white;

  }

  button:active {
    background-color: #a3a6a5;
  }

  .equal {
    background-color: #dc7a09;
    
  }

  .equal:active {
    background-color: #ffa221;
  }



  /* ------------Responsive calculator------------------ */

 


  @media (max-width: 1199px){
    
    .calculator {
      width: 300px;
      height: 430px;


    }

    .Buttons{
      grid-gap: 10px;
    }
    
    button {
      font-size: 18px;
      padding: 20px;
    }

}

@media (max-width: 767px){
    
    .calculator {
      width: 270px;
      height: 400px;


    }

    .Buttons{
      grid-gap: 8px;
    }
    

    button {
      font-size: 20px;
      padding: 18px;
    }
}

   
  @media (max-width: 340px){
    
    .calculator {
      width: 200px;
      height: 330px;


    }

    .Buttons{
      grid-gap: 7px;
    }

    button {
      font-size: 22px;
      padding: 10px;
    }
    

}

@media (max-width: 252px){
    
  .calculator {
    width: 170px;
    height: 300px;


  }

  button {
    font-size: 18px;
    padding: 8px;
    width: 40px;
    height: 40px;
    margin-left: -2px;
    

  }
  
  .input {
    padding: 20px;
    width: 140px;
    margin-left: -5px;

  }

  .Buttons{
    grid-gap: 8px;
  }

}


/*  */
  

  @media (max-width: 135px){
    
    .calculator {
      width: 70px;
      height: 140px;
  
  
    }
  
    button {
      font-size: 10px;
      padding: 1px;
      width: 22px;
      height: 22px;
      margin-left: -11px;
      margin-top: -10vw;

  
      
    }
  
    .input {
      padding: 10px;
      width: 80px;
      margin-left: -15px;
      font-size: 12px;

    }
  
    .Buttons{
      grid-gap: 13px;
  
    }
    

}


@media (max-width: 112px){
    
  .calculator {
    width: 60px;
    height: 120px;


  }

  button {
    font-size: 8px;
    padding: 1px;
    width: 20px;
    height: 20px;
    margin-left: -11px;
    margin-top: -12vw;


    
  }

  .input {
    padding: 6px;
    width: 70px;
    margin-left: -11px;
    font-size: 12px;

  }

  .Buttons{
    grid-gap: 13px;

  }
  

}

@media (max-width: 89px){
    
  .calculator {
    width: 30px;
    height: 90px;


  }

  button {
    font-size: 5px;
    padding: 1px;
    width: 15px;
    height: 15px;
    margin-left: -16px;
    margin-top: -17vw;


    
  }

  .input {
    padding: 2px;
    width: 58px;
    margin-left: -16px;
    font-size: 12px;

  }

  .Buttons{
    grid-gap: 16px;

  }
  

}

  
  
    